---
import clsx from "clsx";

const path = new URL(Astro.request.url).pathname;
const { icon, href } = Astro.props;
---

<a
  href={href}
  class={clsx(
    "flex space-x-3 items-center text-slate-100 hover:text-orange-100 hover:bg-orange-900 group w-full p-2 text-left text-sm font-medium rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-500",
    path === href ? "bg-slate-900" : "bg-slate-700"
  )}
>
  <i class={`fa-duotone ${icon} h-5`}></i>
  <span class="flex-1"><slot /></span>
</a>
